<div class="container">
  <h3>View Airline Providers Information</h3>
  <br />
  <form class="wrap">
    <div class="search">
      <label>Filter by Provider Name : &nbsp; &nbsp;</label>
      <input class="searchTerm" type="text" name="searchTerm" placeholder="Enter Provider Type..."
        [(ngModel)]="searchTerm" />
    </div>
  </form>
  <br />
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Provider Code</th>
        <th scope="col">Provider Name</th>
        <th scope="col">Provider Type</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let flight of flightModels | searchFilter: searchTerm; index as i">
        <td scope="row">{{ i + 1 }}</td>
        <td>{{flight.providerCode}}</td>
        <td>{{ flight.providerName }}</td>
        <td>{{ flight.providerType }}</td>
      </tr>
    </tbody>
  </table>

  <router-outlet></router-outlet>
</div>