<div class="container">
  <h3>Delete Flight</h3>

  <form [formGroup]="createFlightForm" #flightForm="ngForm">

    <div class="form-group">
      <label for="provider_code">Provider Code</label>
      <input id="provider_code" type="text" formControlName="provider_code" class="form-control"
        (blur)='onBlur(provider_code.value)' [ngClass]="{ 'is-invalid': submitted && f.provider_code.errors }">

      <div *ngIf="provider_code.invalid && (provider_code.dirty || provider_code.touched)" class="alert alert-danger">
        <div class="text-danger" *ngIf="provider_code.errors?.required">
          Provider Code is required.
        </div>
        <div class="text-danger" *ngIf="provider_code.errors?.pattern">
          Only alphanumeric and 3 character allowed.
        </div>
      </div>

    </div>

    <div class="form-group">
      <label for="provider_type">Provider Type</label>
      <input id="provider_type" type="text" formControlName="provider_type" class="form-control" [readonly]="isReadOnly"
        [ngClass]="{ 'is-invalid': submitted && f.provider_type.errors }">

      <div *ngIf="provider_type.invalid && (provider_type.dirty || provider_type.touched)" class="alert alert-danger">
        <div class="text-danger" *ngIf="provider_type.errors?.required">
          Provider Type is required.
        </div>
        <div class="text-danger" *ngIf="provider_type.errors?.pattern">
          Only alphabet allowed.
        </div>
        <div class="text-danger" *ngIf="provider_type.errors?.maxlength">
          Only 13 character allowed.
        </div>
      </div>

    </div>

    <button type="submit" class="btn btn-success" (click)="delete(provider_code.value, provider_type.value)"
    [disabled]="createFlightForm.invalid">Delete
      Flight</button>
    &nbsp; &nbsp;<span class="text-danger" *ngIf=errMessage>Invalid data entered.</span>
  </form>

</div>

<!-- [disabled]="!flightForm.form.valid" -->