<!-- <a routerLink="create">Create Flight</a>
<br />
<a routerLink="modify">Modify Flight</a>
<br />
<a routerLink="delete">Delete Flight</a>
<br />
<a routerLink="view">View Flight</a> -->

<br/>
<button type="button" class="btn" (click)="navigateToCreate()">Create Flight</button>

<button type="button" class="btn" (click)="navigateToModify()">Modify Flight</button>

<button type="button" class="btn" (click)="navigateToDelete()">Delete Flight</button>

<button type="button" class="btn" (click)="navigateToView()">View Flight</button>

<br/>
<br/>
<hr/>
<router-outlet></router-outlet>