<div class="container">
  <h3>Update Flight Details</h3>

  <form [formGroup]="createFlightForm" #flightForm="ngForm">
    <div [hidden]="flightForm.submitted">
      <div class="form-group">
        <label for="provider_code">Provider Code</label>
        <input id="provider_code" type="text" formControlName="provider_code" class="form-control"
          (blur)='onBlur(provider_code.value)' [ngClass]="{ 'is-invalid': submitted && provider_code.errors }">

        <div *ngIf="provider_code.invalid && (provider_code.dirty || provider_code.touched)" class="alert alert-danger">

          <div class="text-danger" *ngIf="provider_code.errors?.required">
            Provider Code is required.
          </div>
          <div class="text-danger" *ngIf="provider_code.errors?.pattern">
            Should be Alphanumeric and 3 characters.
          </div>
        </div>

        <div class="alert alert-danger" *ngIf=errMessage>
          {{errText}}
        </div>

      </div>

      <div class="form-group">
        <label for="provider_type">Provider Type</label>
        <input id="provider_type" type="text" formControlName="provider_type" class="form-control"
          value={{providerType}} [ngClass]="{ 'is-invalid': submitted && provider_type.errors }"
          [readonly]="isReadOnly">

      </div>

      <button type="submit" class="btn btn-success" (click)="update(provider_code.value, provider_type.value )"
        [disabled]="createFlightForm.invalid">Update
        Flight</button>
      &nbsp; &nbsp;<span class="text-danger" *ngIf=isProviderTypeValid>Not a valid Provider Type.</span>
    </div>
  </form>

</div>