<div class="container">

  <h3>Create Flight</h3>

  <form [formGroup]="createFlightForm" #flightForm="ngForm">

    <div [hidden]="flightForm.submitted">
      <div class="form-group">
        <label for="provider_name">Provider Name</label>

        <input id="provider_name" type="text" formControlName="provider_name" class="form-control"
          (blur)='onBlur(provider_name.value)' required>

        <div *ngIf="provider_name.invalid && (provider_name.dirty || provider_name.touched)" class="alert alert-danger">

          <div class="text-danger" *ngIf="provider_name.errors?.required">
            Provider Name is required.
          </div>
          <div class="text-danger" *ngIf="provider_name.errors?.maxlength">
            Name must be at least 10 characters long.
          </div>
          <div class="text-danger" *ngIf="provider_name.errors?.pattern">
            Only alphabet allowed.
          </div>
        </div>
      </div>
     
      <div class="form-group">
        <label for="provider_code">Provider Code </label>
        <input id="provider_code" type="text" formControlName="provider_code" class="form-control"
          value={{providerCode}} readonly >

        <div *ngIf="!myFlag;else myFlagTrue;"></div>
        <ng-template #myFlagTrue>
          <div *ngIf="provider_code.invalid && (provider_code.dirty || provider_code.touched)"
            class="alert alert-danger">
            <div class="text-danger">{{errorMsgProviderCode}}</div>
          </div>
        </ng-template>
      </div>

      <div class="form-group">
        <label for="provider_type">Provider Type</label>
         <select id="provider_type" formControlName="provider_type" class="form-control" required>
          <option *ngFor="let ptl of providerTypeList" [value]="ptl">{{ptl}}</option>
        </select> 

        <div *ngIf="provider_type.invalid && provider_type.touched" class="alert alert-danger">
          <div class="text-danger" *ngIf="provider_type.errors?.required">Provider Type is required.</div>
        </div>
      </div>


      <button type="submit" class="btn btn-success"
        (click)="add(provider_name.value, provider_type.value )"
        [disabled]="createFlightForm.invalid">Submit</button>

    </div>
  </form>  
<!-- <div>createFlightForm.valid= {{ createFlightForm.valid }}</div>
<div>createFlightForm.invalid = {{ createFlightForm.invalid }}</div>
<div>createFlightForm.status = {{ createFlightForm.status }}</div>
<div>createFlightForm.disabled = {{ createFlightForm.disabled }}</div> -->

</div>

<!-- [disabled]="!(provider_name.valid && provider_code.valid && provider_type.valid)" -->